<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- css to overwrite anything -->
    <link rel="stylesheet" href="/css/home.css">
    <title>
        <%= title %>
    </title>
</head>

<body>



    <div class="tab">
        <button class="tablinks" onclick="closeTabGrocery()"><h1>Todo List</h1></button>
        <button class="tablinks" onclick="closeTabTodo()">Grocery</button>
    </div>

    <div id="todo" class="tabcontent">
        <div id="main-wrapper">
            <form action="/create-todo" method="post">
                <input type="text" name="topic" placeholder="Add todo..." required>
                <button type="submit ">Add Todo</button>
            </form>
            <ul>
                <% for (let i of todo_list){ %>
                    <li>
                        <div class="details ">
                            <p>
                                <%= i.topic%>
                            </p>
                        </div>
                        <div class="delete-button ">
                            <a href="/delete-todo/?id=<%=i._id%>">x</a>
                        </div>

                    </li>
                    <%}%>
            </ul>

        </div>
    </div>

    <div id="grocery" class="tabcontent">
        <p>grocery list here</p>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>